body {
    color: rgb(179, 106, 169);
    background-color: rgb(157, 34, 164);
    margin: 0px;
    font-family: "Chakra petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(113 50 103);
}

section {
    background: rgb(170, 40, 155);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}